<!--
 * @Author: SingleBiu
 * @Date: 2022-12-19 14:12:33
 * @LastEditors: SingleBiu
 * @LastEditTime: 2024-10-21 21:36:49
 * @Description: file content
-->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>fox的展示分享</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
<!--    <div id="header">-->
<!--        <div id="nav">-->
<!--            <a href="#">链接</a>-->
<!--            <a href="#">链接</a>-->
<!--            <a href="#">链接</a>-->
<!--        </div>-->
<!--    </div>-->

    <div class="navbar">
        <a href="/">首页</a>
       <a href="https://bilibili.com">Bilibili</a>
       <a href="/downloadfile1">下载哔咔</a>
<!--        <a href="#" class="right">链接</a>-->
    </div>

    <div class="header">
        <div id="hd_word">
            <h2>在这五光十色的世界里，我只要属于自己的快乐</h2>
        </div>
    </div>

    <div id="container">

        <div id="aside">
            <div id="photo">
                <img src="/static/img/touxiang.jpg" alt="">
            </div>
            <div id="name">
                <h2>咲狐狸</h2>
            </div>
            <div id="desc">
                <p>Email:sakifox@foxmail.com</p>
                <p>Github:<a href="https://github.com/SingleBiu">SingleBiu</a></p>
                <p>欢迎来到我的博客</p>
            </div>
        </div>


        <div id="content">
            <div id="mc">
                <h3><a href="mc.html">我的世界开服教程</a></h3>
                <!-- <button value="下载文件" onclick="download()">下载文件</button>
                <script type="text/javascript">
                    function download(){
                        window.location.href="/downloadfile1";
                    }
                </script> -->
            </div>
        </div>
    </div>


    <div id="footer" style="width: 300px;margin:0 auto; padding:20px 0;">
        <div >Copyright ©2019-2024 sakifox.com</div>
            <p>
                <span id="runtime_span"></span>
                <script type="text/javascript">function show_runtime(){window.setTimeout("show_runtime()",1000);X=new 
                Date("11/11/2018 00:00:00");
                Y=new Date();T=(Y.getTime()-X.getTime());M=24*60*60*1000;
                a=T/M;A=Math.floor(a);b=(a-A)*24;B=Math.floor(b);c=(b-B)*60;C=Math.floor((b-B)*60);D=Math.floor((c-C)*60);
                runtime_span.innerHTML="本站已在风雨中渡过了: "+A+"天"+B+"小时"+C+"分"+D+"秒"}show_runtime();</script>
            </p>
    </div>
</body>
</html>
