<!DOCTYPE html>
<html>
<head>
    <title>fox的展示分享</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/mainpage.css">
</head>
<body>

<div class="navbar">
    <a href="#">链接</a>
    <a href="#">链接</a>
    <a href="#">链接</a>
    <a href="#" class="right">链接</a>
</div>

<div class="header">
    <h1>测试实例</h1>
</div>

<div class="row">
    <div class="side">
        <h2>关于我</h2>


    </div>
    <div class="main">
        <h2>Minecraft开服</h2>
        <h5>Linux
        </h5>
        <div class="fakeimg" style="height:200px;width: 200px">图像</div>
        <p>一些文本..</p>

        <br>
        <h2>标题</h2>
        <h5>副标题</h5>
        <div class="fakeimg" style="height:200px;">图像</div>
        <p>一些文本..</p>

    </div>
</div>


<div class="footer" style="width:300px;margin:0 auto; padding:20px 0;">
    <div >Copyright ©2019-2021 foxspace.fun</div>
    <div align="center"><a href="http://beian.miit.gov.cn/"; target=_blank>湘ICP备19028008号</a></div>
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=43060202000360" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
        <img src="static/img/icon.png" style="float:left;"/>
        <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#ddd;">湘公网安备 43060202000360号</p></a>
</div>




</body>
</html>